*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// --------------------------------------------- Header-------------------------
.navbar{
    background-color: #12436b;
    padding-top: 20px;
    padding-bottom: 10px;
     a{
        font-size: 1rem;
        text-transform: capitalize;
        color: white;
    }
     a:active{
        font-weight: bold;
        border-bottom: 2px solid black;
    }
     a:hover{
        color: blue;
    }
    .logo-img{
        height: 30px;
        width: 190px;
    }
}
// -------------------------------------------------Footer-----------------------

.footer{
    background-color:#12436b ;
    color: white;   
    .footer-line{
        border: 1px solid white ;
        font-weight: bold;
        color: white;
    }
    .footer-img{
        height: 31px;
        width: 200px;
    }
}
//----------------------------------------------Forms------------------------------
.forms{
    max-height: 100vh;
    background-image: url("../src/media/login\ bg.jpg");
    padding-top: 25px;
    padding-bottom: 50px;
    .container{
        background-color: white;
        border-radius: 20px;
    }
    .form-cards{
         margin-top: 50px;
     }
  .btn{
        background-color: #0e70b1;
        color: white;
    }
}
//----------------------------------------------Home------------------------------
.home{
    background-image: url("../src/media/login\ bg.jpg");
    padding-top: 25px;
    padding-bottom: 50px;
    .home-center{
        background-color: white;
        border-radius: 20px;
    }
}
//
label progress {
    width: 35px;
  }
  label img {
    width: 70px;
    height: 70px;
  }
  
  #input-file {
    display: none !important;
  }